@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* body{
    background: black;
    color: white;
} */

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
}

.home {
}

.home ul li {
  display: flex;
  gap: 15px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.home ul li img {
  width: 15px;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
}

.heading img {
  width: 25px;
}

.library {
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.library-footer {
  position: absolute;
  left: 7px;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  display: flex;
  font-size: 10px;
  gap: 10px;
}

.library-footer a {
  color: gray;
}

.right {
  margin: 16px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylist {
  padding: 16px;
}

.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 70vh;
  overflow: scroll;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}

.card:hover .play {
  opacity: 1;
  bottom: 140px;
}

.play {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 130px;
  right: 17px;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}
