@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.left {
  height: calc(100vh - 95px);
  width: 25vw;
  margin-top: 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.library {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

.right {
  height: calc(100vh - 95px);
  width: 75vw;
  margin-top: 10px;
  background-color: #121212;
  position: relative;
  overflow-y: auto;
  border-radius: 8px;
}

.library::-webkit-scrollbar,
.right::-webkit-scrollbar {
  width: 8px;
}

.home ul li {
  display: flex;
  gap: 15px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.home ul li img {
  width: 15px;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
}

.heading img {
  width: 25px;
}

.library {
  height: 100%;
  min-height: unset;
  position: relative;
  display: flex;
  flex-direction: column;
}

.library-footer {
  position: absolute;
  left: 7px;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  display: flex;
  font-size: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.library-footer a {
  color: gray;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 10px;
}

.spotifyPlaylist {
  padding: 10px;
}

.spotifyPlaylist h1 {
  font-size: 25px;
}

.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}

.card:hover .play {
  opacity: 1;
  bottom: 140px;
}

.play {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 130px;
  right: 17px;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.signupBtn {
  background-color: rgb(34, 34, 34);
  color: rgb(125, 125, 125);
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}

.signupBtn:hover {
  transform: scale(1.04);
  color: white;
}

.loginBtn {
  background-color: white;
  padding: 15px 32px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 30px;
}

.loginBtn:hover {
  transform: scale(1.04);
  font-weight: 900;
}

.playbar {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #181818;
  padding: 15px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #2a2a2a;
}

.songInfo {
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 250px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songsButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.songsButtons img {
  width: 30px;
  cursor: pointer;
  filter: invert(1);
  transition: all 0.2s ease;
}

.songsButtons img:hover {
  transform: scale(1.1);
}

.songTime {
  color: #a7a7a7;
  font-size: 13px;
  width: 250px;
  text-align: right;
  padding-right: 20px;
}

.seekbar {
  height: 6px;
  width: 98%;
  background-color: #4f4f4f;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  left: 1%;
}

.circle {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  left: 0%;
  transition: left 0.5s linear;
}

.songList {
  height: 60vh;
  overflow: auto;
  margin-bottom: 80px;
  background: linear-gradient(#121212, #121212) center top,
    linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%)
      center top;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 10px;
  background-attachment: local, scroll;
  margin: 0 -10px;
  padding: 0 10px;
}

.songList ul {
  padding: 0 10px;
}

.songList ul li {
  list-style-type: decimal;
  list-style-position: inside;
  display: flex;
  gap: 12px;
  cursor: pointer;
  border: 1px solid #2a2a2a;
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.songList ul li:hover {
  background-color: #2a2a2a;
  border-color: white;
}

.songList .info {
  font-size: 15px;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  font-size: 15px;
  width: 87px;
  padding: 10px;
}
