@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* body{
    background: black;
    color: white;
} */

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
}

.home {
}

.home ul li {
  display: flex;
  gap: 15px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.home ul li img {
  width: 15px;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
}

.heading img {
  width: 25px;
}

.library {
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.library-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  font-size: 10px;
  gap: 10px;
}

.library-footer a {
  color: gray;
}
